/*
 * Please use the appropriate mixins (in _mixins.scss) when possible.
 * Otherwise, the variables below can be used.
 */
/* Source: Bootstrap */
/*
 * breakpoints
 *
 * Breakpoint viewport sizes and media queries.
 * 
 * Breakpoints are defined as a map of (name: minimum width), order from small to large:
 *
 *    (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
 *
 * The map defined in the `$grid-breakpoints` global variable is used as the `$breakpoints` argument by default.
 * 
 * - function breakpoint-next
 * - function breakpoint-min
 * - function breakpoint-max
 * - function breakpoint-infix
 * - mixin media-breakpoint-up
 * - mixin media-breakpoint-down
 * - mixin media-breakpoint-between
 * - mixin media-breakpoint-only
 */
html, body {
  margin: 0;
  padding: 0; }

.topHeader {
  margin-top: 40px; }

.episodeList {
  margin-top: 40px;
  margin-bottom: 40px; }
  .episodeList .MuiTableRow-hover:hover {
    cursor: pointer; }

body, html {
  margin: 0;
  padding: 0; }
